.comingSoonBox {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 35%;
    left: 50%;
    transform: translate(-50%);
    color: rgb(0, 255, 157);
    font-weight: 600;
    font-size: 5rem;
}

.comingSoonBox .registerText {
    top: 50%;
}

.discordLink {
    text-decoration: none;
    color: rgb(0, 255, 157);
}

.timer {
    padding: 50px;   
    animation: 1.4s fadeIn linear ;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    10% { opacity: 0.1; }
    20% { opacity: 0.2; }
    30% { opacity: 0.3; }
    40% { opacity: 0.4; }
    60% { opacity: 0.5; }
    70% { opacity: 0.6; }
    80% { opacity: 0.7; }
    90% { opacity: 0.8; }
    100% { opacity: 1; }
}

.server-status {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    width: 600px;
    left: 50%;
    transform: translate(-50%);
}